* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.iam {
  color: rgb(178, 225, 168);
  font-size: 20px;
  padding: 15px;
  font-family: consolas;
}
.text {
  color: white;
  border-right: 2px solid rgb(178, 225, 168);
  font-size: 20px;
  font-family: consolas;
  color: rgb(178, 225, 168);
}
